@model List<MediaInfo>

<div class="text-center" style="color: white;">
    <a class="btn btn-primary" href="@Url.Action("Create")">Aggiungi nuovo Film</a>
</div>
<h3 style="color: white;">Film</h3>
<table class="table container" style="color: white;">

        <thead>
            <tr>   
                <th scope="col">Titolo</th>

            </tr>
        </thead>
        <tbody>
        @foreach (MediaInfo film in Model)
            {

                <tr>
                    <td>@film.Film.Title</td>
                <td>
                    <a class="btn btn-outline-secondary " href="@Url.Action("UpdateFilm", "Editor", new {Id= film.FilmId})">Modifica</a>
                    <form asp-controller="Editor" asp-action="Delete" asp-route-id="@film.FilmId">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
                </tr>
            }

        </tbody>
</table>
